doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

  body
    h1 Child
    #message-output
    #return-value-output
    #return-value-using-promise-output

    each jsFile in jsFiles
      script(src="js/#{jsFile}")

    script.
      (function(window) {

        var localApi = {
          printMessage: function(message) {
            document.getElementById('message-output').innerText = message;
          },
          getReturnValue: function() {
            return 'Return value from child';
          },
          getReturnValueUsingPromise: function(callback) {
            var deferred = FrameBridge.defer();

            setTimeout(function() {
              deferred.resolve('Return value from child using promise');
            }, 1000);

            return deferred.promise;
          }
        };

        var frameBridge = FrameBridge.create(localApi, window.parent, '#{parentDomain}');

        frameBridge.init(function(remoteApi) {
          remoteApi.printMessage('Hello from child');
          remoteApi.getReturnValue().success(function(returnValue) {
            document.getElementById('return-value-output').innerText = returnValue;
          });
          remoteApi.getReturnValueUsingPromise().success(function(returnValue) {
            document.getElementById('return-value-using-promise-output').innerText = returnValue;
          });
        });

      }(window));

    if develop
      script(src="//localhost:9001/livereload.js")
