doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

  body
    h1 Parent
    #output

    h2 Frame
    iframe(id="iframe-id", src="child.html", scrolling="no", frameborder="0", style="width: 100%; border: 1px solid #000;")

    each jsFile in jsFiles
      script(src="js/#{jsFile}")

    script.
      (function(window) {

        var localApi = {
          sayHello: function(message) {
            document.getElementById('output').innerText = message;
          }
        };

        var frameBridge = FrameBridge.create(localApi, document.getElementById('iframe-id').contentWindow, '#{childDomain}');

        frameBridge.init(function(remoteApi) {
          remoteApi.sayHello('Hello from parent');
        });

      }(window));

    if develop
      script(src="//localhost:9001/livereload.js")
